@import "../../../data/styles.css";

.homepage-experience {
	/* width: 90%; */
	mix-blend-mode: normal;
	background: #fafafa;
	border-radius: 20px;
	opacity: 0.8;
	margin-bottom: 5px;
}

.homepage-experience:hover {
	background: var(--quaternary-color);
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.homepage-experience-content {
	padding: 20px 40px;
}

.homepage-experience-date {
	opacity: 1;
	color: var(--primary-color);
	font-size: 14px;
	margin-bottom: 1em;
}

.homepage-experience-title {
	opacity: 1;
	color: var(--primary-color);
	font-size: 18px;
	margin-bottom: 1em;
	font-weight: 800;
}

.homepage-experience-description {
	opacity: 1;
	color: var(--secondary-color);
	font-size: 16px;
	line-height: 1.5;
}

.homepage-experience-link {
	opacity: 1;
	padding-top: 20px;
	font-size: 15px;
	font-weight: 700;
}

.homepage-experience-link a {
	color: var(--link-color);
	text-decoration: none;
}

@media (max-width: 600px) {
	.homepage-experience {
		width: 100%;
	}
}
